@use 'variables' as *
  
body
  display: flex
  justify-content: center
  align-items: center

.success
  display: flex
  flex-direction: column
  padding: 1.5rem
  .btn
    margin-top: auto
    @media (min-width: 30rem)
      margin: 3rem 0 1.5rem 0
