/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Roboto";
  src: url("../../src/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../src/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  background: hsl(235, 18%, 26%);
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
  margin: 0;
}
body h1 {
  font: 700 clamp(2.5rem, 1rem + 1vw, 3.5rem)/1 "Roboto", sans-serif;
  margin-top: 3rem;
}
body p {
  font: 400 1rem/1.3 "Roboto", sans-serif;
}
body button {
  font: 700 1rem/1 "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 100%);
}
@media (min-width: 23rem) {
  .card {
    max-width: 375px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    margin: 2rem;
  }
}
@media (min-width: 40rem) {
  .card {
    width: auto;
    height: auto;
    padding: 1.5rem;
    border-radius: 36px;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up .text-wrapper {
  padding: 0 2rem;
}
@media (min-width: 40rem) {
  .sign-up {
    flex-direction: row-reverse;
  }
}

.success {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.success .btn {
  margin-top: auto;
}
@media (min-width: 30rem) {
  .success .btn {
    margin: 3rem 0 1.5rem 0;
  }
}

.btn {
  outline: none;
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  background: hsl(235, 18%, 26%);
  padding: 1rem;
}
.btn:hover, .btn:focus, .btn:active {
  background: hsl(4, 100%, 67%);
  box-shadow: 0 4px 10px hsl(4, 100%, 67%);
}

#user-email {
  font-weight: 700;
}

.success.card {
  max-width: 31.5rem;
}
.success.card .text-wrapper figure {
  margin: 2rem 0 0 0;
}

.success[data-state=hidden],
.sign-up[data-state=hidden] {
  display: none;
}
.success[data-state=visible],
.sign-up[data-state=visible] {
  display: flex;
}/*# sourceMappingURL=style.css.map */